
h1 {
  padding-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

h3 {
  padding-bottom: 3rem;
}

.padding {
  padding: 10% 13% 10% 0%;
}

.gray-div {
  background-color: rgb(212, 212, 212)
  
}

column2 {
  width: 100%;
  height: auto;
  overflow: hidden;
}